<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="InfoTrackGlobal" value="https://proget.infotrack.com.au/nuget/global" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
    <add key="PostSharp" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSourceCredentials>
    <InfoTrackGlobal>
      <add key="Username" value="svc-build" />
      <add key="ClearTextPassword" value="2RZcrYOjS2tyr57z" />
    </InfoTrackGlobal>
  </packageSourceCredentials>
</configuration>